<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/api/updateUser" method="post">
        <h1>Data:</h1>

        <p>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" value="<%= id %>" required />
        </p>
        <p>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" value="<%= firstname %>" required />
        </p>
        <p>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" value="<%= lastname %>" required />
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= email %>" required />
        </p>
        <p>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" value="<%= login %>" required />
        </p>
        <p>
            <label for="password">Login:</label>
            <input type="password" id="password" name="password" value="<%= password %>" required />
        </p>
        <p class="button">
            <button type="submit">Update User</button>
        </p>
    </form>
</body>

</html>